.characters {
    width: 100%;
}

.characters-error {
    width: 100%;
    margin: 0 auto;
}

.layout-title {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.layout-title > img{
    width: 40%;
}

.layout-form {
    width: 100%;
    margin-bottom: 4rem;
}

.characters-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
}

.characters-pagination{
    width: 100%;
    text-align: center;
}